<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
</head>
<body>


<!-- my code starts -->

<h3 th:text="${book.title}"></h3>
<p th:text ="${book.description}"></p>
<p th:text ="${book.isbn}"></p>
<p th:text = "${book.author}"></p>
<p th:text = "${book.pubdate}"></p>

<!--<p> Written by <em th:text ="${post.author.username}"></em>  on <em th:text = "${#dates.format(post.created, 'yyyy-MM-dd')}"></em> </p>
-->
<form method = "post">
    <label>

    </label>
</form>
</body>
</html>