<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head >
    <link th:href="@{/css/normalize.css}" rel="stylesheet" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<nav th:fragment="navigation">
<ul id="user-account">
    <li><a href="/book/user/login">login</a></li>
    <li><a href="/book/user/login">logout</a></li>
</ul>
<ul>
    <li><a href="/book/catalog">home</a></li>
    <li><a href="/book/catalog">all books</a></li>
    <li><a href="/book/newbook">new book</a></li>
</ul>
</nav>

<h1> Welcome to the SoulBrave Publishing Library Portal</h1>
<em>programmed by Christian Lawrence</em>

<div th:each="book : ${books}">
    <table style = "width:100%">
        <tr>
            <th> Title: </th>
            <th> Description: </th>
            <th> ISBN :</th>
            <th> Author: </th>
            <th> Publication Year:</th>
        </tr>
        <tr>
            <td th:text="${book.title}"> </td>
            <td th:text ="${book.description}"></td>
            <td th:text ="${book.isbn}"></td>
            <td th:text ="${book.author}"></td>
            <td th:text = "${book.pubdate}"></td>
            <br/>
            <br/>
        </tr>
    </table>
    <form method = "post">
        <label>

        </label>
    </form>

</div>

</body>
</html>