<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head >
    <link th:href="@{/css/normalize.css}" rel="stylesheet" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<nav th:fragment="navigation">
<ul id="user-account">
    <li><a href="/book/user/login">login</a></li>
    <li><a href="/book/user/login">logout</a></li>
</ul>
<ul>
    <li><a href="/book/catalog">home</a></li>
    <li><a href="/book">all books</a></li>
    <li><a href="/book/newbook">new book</a></li>
</ul>
</nav>

<h1> Welcome to the SoulBrave Publishing Library Portal</h1>
<em>programmed by Christian Lawrence</em>

<div th:each="book : ${books}">


</div>

</body>
</html>